<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.support.operatelog.OperateLogDao">

    <select id="queryByPage" resultType="net.lab1024.sa.support.operatelog.domain.OperateLogEntity">
        select
        *
        from t_operate_log
        <where>
            <if test="query.operateUserId != null">
                AND operate_user_id = #{query.operateUserId}
            </if>
            <if test="query.operateUserType != null">
                AND operate_user_type = #{query.operateUserType}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND TO_CHAR(create_time, 'YYYY-MM-DD') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND TO_CHAR(create_time, 'YYYY-MM-DD') &lt;= #{query.endDate}
            </if>
            <if test="query.userName != null and query.userName != ''">
                AND operate_user_name ILIKE CONCAT('%', #{query.userName}, '%')
            </if>
            <if test="query.keywords != null and query.keywords != ''">
                AND (module ILIKE CONCAT('%', #{query.keywords}, '%') OR content ILIKE CONCAT('%', #{query.keywords}, '%'))
            </if>
            <if test="query.requestKeywords != null and query.requestKeywords != ''">
                AND (url ILIKE CONCAT('%', #{query.requestKeywords}, '%') OR method ILIKE CONCAT('%', #{query.requestKeywords}, '%') OR param ILIKE CONCAT('%', #{query.requestKeywords}, '%') OR response ILIKE CONCAT('%', #{query.requestKeywords}, '%'))
            </if>
            <if test="query.successFlag != null">
                AND success = #{query.successFlag}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>