<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.support.securityprotect.dao.PasswordLogDao">

    <!-- 查询最后一次修改密码记录 -->
    <select id="selectLastByUserTypeAndUserId"
            resultType="net.lab1024.sa.support.securityprotect.domain.entity.PasswordLogEntity">
        SELECT *
        FROM t_password_log
        WHERE user_type = #{userType}
          AND user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT 1
    </select>

    <!-- 查询最近几次修改后的密码 -->
    <select id="selectOldPassword" resultType="java.lang.String">
        SELECT password
        FROM t_password_log
        WHERE user_type = #{userType}
          AND user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT #{limit}
    </select>

</mapper>
