<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.support.job.repository.SmartJobDao">

    <update id="updateDeletedFlag">
        update t_smart_job
        set deleted = #{deleted, jdbcType=SMALLINT, typeHandler=net.lab1024.sa.common.mybatis.typehandler.BooleanToSmallintTypeHandler}
        where job_id = #{jobId}
    </update>

    <!-- 定时任务-分页查询 -->
    <select id="query" resultType="net.lab1024.sa.support.job.api.domain.SmartJobVO">
        SELECT *
        FROM t_smart_job
        <where>
            <if test="query.searchWord != null and query.searchWord != ''">
                AND ( job_name ILIKE CONCAT('%', #{query.searchWord}, '%')
                OR job_class ILIKE CONCAT('%', #{query.searchWord}, '%')
                OR trigger_value ILIKE CONCAT('%', #{query.searchWord}, '%')
                )
            </if>
            <if test="query.triggerType != null">
                AND trigger_type = #{query.triggerType}
            </if>
            <if test="query.enabledFlag != null">
                AND enabled = #{query.enabledFlag, jdbcType=SMALLINT, typeHandler=net.lab1024.sa.common.mybatis.typehandler.BooleanToSmallintTypeHandler}
            </if>
            <if test="query.deleted != null">
                AND deleted = #{query.deleted, jdbcType=SMALLINT, typeHandler=net.lab1024.sa.common.mybatis.typehandler.BooleanToSmallintTypeHandler}
            </if>
        </where>
        <if test="query.sortItemList == null or query.sortItemList.size == 0">
            ORDER BY sort ASC,job_id DESC
        </if>
    </select>

    <select id="selectByJobClass" resultType="net.lab1024.sa.support.job.repository.domain.SmartJobEntity">
        SELECT *
        FROM t_smart_job
        WHERE job_class = #{jobClass}
    </select>

</mapper>